URLS=(
    "https://thisisafakewebsite12345.com" # Test failure
)
MAIL_ALERT=1
MAIL_SUBJECT="[$(hostname)] [un.monitor-websites]: Triggered"
MAIL_TO=""
# State file to track failures and timestamps
STATE_FILE="${SCRIPT_PARENT}/site_monitor_state.txt"
# 48 hours in seconds (48 * 60 * 60)
COOLDOWN_HOURS=2
# 0: Emergency, 1: Alert, 2: Critical, 3: Error, 4: Warning, 5: Notice, 6: Info, 7: Debug
LOG_LVL=6
LOG_TO_CONSOLE=1
LOG_TO_FILE=0
LOG_FILE="${SCRIPT_PARENT}/log.txt"